/*Selectores básicos: id, clase, etiqueta, universal y atributos */

/*** SELECTOR DE ATRIBUTOS ***/

/*Selecionar los elementos que tienen ese atributo*/
[href] {
    color: green;
}

/*Selecionar los elementos que tienen ese atributo y ese valor*/
[href="#"] {
    color: red;
}

/*Selecionar los elementos que tienen ese atributo y ese valor al menos una vez*/
[class~="verde"]{
    color: green;
}

/*Selecionar los elementos que tienen ese atributo y empicen por ese valor
seguido de un guión o tengan exactamente el valor*/
[class|="verde"]{
    color: orange;
}

/*Selecionar los elementos que tienen ese atributo y empiecen con ese valor*/
[class^="rojo"] {
    color:purple;
}

/*Selecionar los elementos que tienen ese atributo y terminan con ese valor*/
[class$="rojo"] {
    color: red;
}

/*Selecionar los elementos que tienen ese atributo y contienen ese valor*/
[class*="rojo"] {
    color: blue;
}

/**SELECTORES COMBINADORES**/

/*Selector de hermano adyacente
Selecciona a un hermano que este justo debajo, hermano inferior*/
h3 + h2 {
    color: red;
}

/*Selector de hermano general*/
h1 ~ h2 {
    color: green;
}

/*NOTA: HERMANOS- Solo se les aplica los estilos a los elementos que esten debajo de el*/

/*Selectores descendentes*/

/*Aplica estilo a todos los elementos que estan dentro de este.*/
div span{
    color: palevioletred
}

/*Selector de hijo directo*/
p > span {
    color: green;
}

